.flex-decorator > app-flex {
  padding: var(--app-S5);
  width: 40rem;
  height: 40rem;
  border: var(--app-S1) solid var(--app-prim-light);
  overflow: hidden;
  resize: both;
}

.flex-decorator app-flex div {
  width: 4rem;
  height: 4rem;
  color: var(--app-prim-text);
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--app-prim-dark);
  border: var(--app-S1) solid var(--app-prim-light);
}

.flex-decorator app-flex div:nth-of-type(1)::after {
  content: '1';
}

.flex-decorator app-flex div:nth-of-type(2)::after {
  content: '2';
}

.flex-decorator app-flex div:nth-of-type(3)::after {
  content: '3';
}

.flex-decorator app-flex div:nth-of-type(4)::after {
  content: '4';
}

.icon-decorator {
  width: 15rem;
  height: 12rem;
  background: var(--app-prim-dark);
  overflow: hidden;
  border-radius: var(--app-S4);
}

.icon-decorator app-icon:hover {
  transform: scale(2.5);
  transform-origin: center;
  background: #ffffff10;
  border: 0.1rem solid #ffffff20;
  transition: all 50ms ease-in-out;
}

.icon-decorator span {
  text-align: center;
  font-weight: bold;
  color: var(--app-prim-text);
  background: var(--app-prim-light);
  padding: var(--app-S4);
}

.color-decorator {
  width: 15rem;
  height: 12rem;
  background: var(--app-prim-dark);
  overflow: hidden;
  border-radius: var(--app-S4);
  filter: drop-shadow(0 0 var(--app-S1) #00000070);
}

.color-decorator span {
  text-align: center;
  font-weight: bold;
  color: var(--app-prim-text);
  background: var(--app-prim-light);
  padding: var(--app-S4);
}

.color-decorator app-flex {
  height: 100%;
  padding: var(--app-S5);
  font-weight: bold;
  font-size: var(--app-S6);
}
